[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/bin/konsole --profile saneFORTH.profile
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=aF-3
Name=aF-3
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
